/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-show-main.sb-main-padded {
	margin: 0;
	padding: 0;
}

.rs_my_icon svg {
	font-size: 18px;
}

/* hide scroll bar */
.rs_scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.rs_scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}