@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main: 34, 197, 94; /*  rgb(1, 34, 79) */
    --color-main-foreground: 255, 255, 255; /*  rgb(255, 255, 255) */
    --color-text: 64, 79, 101; /*  rgba(64, 79, 101, 1) */
  }
}
